<!-- <div class="welcome-container">
    <h3>welcome, please log in/create account</h3>
    <app-login></app-login>
</div> -->
<section class="main_outer">
  <header>
    <p class="m-0">welcome, please log in/create account</p>
  </header>
  <div class="login_sign_up_outer">
    <div class="card_outer">
      <div class="card_inner">
        <app-login></app-login>
      </div>
    </div>
    <div class="card_outer">
      <div class="card_inner">
        <app-signup></app-signup>
      </div>
    </div>
  </div>
</section>
