<nav>
    <div class="left_side">
      <div class="left_nav main_logo">
        <img src="../../../assets/Images/LOGO.PNG" alt="" />
      </div>
      <div class="left_nav">
        <p class="m-0">Home</p>
      </div>
      <div class="left_nav ">
        <p class="m-0 category_nav">Category</p>
        <div class="category_hover_menu">
          <div class="navs">
            <p class="m-0">lingeric</p>
          </div>
          <div class="navs">
            <p class="m-0">sleepwear</p>
          </div>
          <div class="navs">
            <p class="m-0">robes</p>
          </div>
          <div class="navs">
            <p class="m-0">swimwear & cover ups</p>
          </div>
          <div class="navs">
            <p class="m-0">stockings & hosiery</p>
          </div>
          <div class="navs">
          <p class="m-0">satin</p>
        </div>
        
        
        <div class="navs">
          <p class="m-0">plus size</p>
        </div>
        <div class="navs">
          <p class="m-0">loungewear</p>
        </div>
      </div>
      </div>
    </div>
    <div class="right_side">
      <div class="right_nav">
        <!-- <img src="../../../assets/Images/whatsapp-4.png" alt="" /> -->
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="right_nav">
        <!-- <img src="../../../assets/Images/whatsapp-4.png" alt="" /> -->
        <i class="fa fa-light fa-user"></i>
      </div>
      <div class="right_nav">
        <!-- <img src="../../../assets/Images/whatsapp-4.png" alt="" /> -->
        <i class="fa  fa-heart"></i>
      </div>
      <div class="right_nav">
        <img class="bag" src="../../../assets/Images/bag4.PNG" alt="" />
       
      </div>
      <div class="right_nav">
        <!-- <img src="../../../assets/Images/whatsapp-4.png" alt="" /> -->
       <p>العربية</p>
      </div>
      <div class="right_nav">
        <div class="select_outer">
          <img src="../../../assets/Images/kuwait.png" alt="">
          <select name="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
    </div>
  </nav>