<footer>
  <div class="footer-upper">
    <div class="inner-col">
      <div class="head">About Us</div>
      <div class="data">About Us</div>
      <div class="data">FAQ's</div>
      <div class="data">Terms and Conditions</div>
      <div class="data">Return Policy & Procedures</div>
      <div>Privacy Policy</div>
    </div>
    <div class="inner-col">
      <div class="head">Contact Us</div>
      <div class="data img-p">
        <div>
          <img class="bag" src="../../../assets/Images/phone.svg" alt="" />
        </div>
        <div>
          <p>+965-XXXXXXX</p>
        </div>
      </div>
      <div class="data img-p">
        <div>
          <img class="bag" src="../../../assets/Images/envelope.svg" alt="" />
        </div>
        <div>
          <p>support@oshmoments.com</p>
        </div>
      </div>
      <div class="data img-p">
        <div>
          <img class="bag" src="../../../assets/Images/whatsapp-4.png" alt="" />
        </div>
        <div>
          <p>WhatsApp Us</p>
        </div>
      </div>
    </div>
    <div class="inner-col">
      <div class="head">Newsletter</div>
      <div class="news_letter_outer">

      <div class="data">
        <button>Sign Up Now</button>
      </div>
      <div class="data">
        <input type="email" placeholder="Your Email" />
      </div>
    </div>

    </div>
    <div class="inner-col">
      <div class="head">Follow Us</div>
      <div class="data social-footer">
        <div class="social_inner">
          <i class="fa fa-facebook"></i>
        </div>
        <div class="social_inner">
          <i class="fa fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="copy-right">
      <small>Copyright © 2022 OSH Moments All Right Reserved.</small>
    </div>
    <div class="payment">
     <img class="bag" src="../../../assets/Images/knet.png" alt="" />
      <img class="bag" src="../../../assets/Images/visa@3x.png" alt="" />

      
      <img class="bag" src="../../../assets/Images/mastercard_PNG23.png" alt="" />
    </div>
  </div>
</footer>
